.userHomeContainer{
    padding: 0px;
    margin: 0;
    position: relative;
}
.userHomeBody{
    min-height: 80vh;
}
.spinner-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    width: 100vw;          
    position: absolute;      
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.5);  */
  }
  