.responsive-margin {
  margin-bottom: 0px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .responsive-margin {
    margin-right: 0px;
  }
}

.date-picker {
  margin-top: 0px;
}

@media (max-width: 768px) {
  .date-picker {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .date-div {
    flex-direction: column;
    row-gap: 10px;
  }
}
